<h1>物件一覧</h1>

<table>
  <tbody>
    <tr>
      <th>物件名</th>
      <th>賃料</th>
      <th>住所</th>
      <th>築年数</th>
      <th>備考</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @rooms.each do |r| %>
    <tr>
      <td><%= r.room_name %></td>
      <td><%= r.price %></td>
      <td><%= r.adress %></td>
      <td><%= r.built_years %></td>
      <td><%= r.feature %></td>
      <td><%= link_to '詳細', room_path(r) %></td>
      <td><%= link_to '編集', edit_room_path(r) %></td>
      <td><%= link_to '削除', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '物件を登録する', new_room_path %>
