<h1>Property List</h1>

<table>
  <tbody>
    <tr>
      <th>Property</th>
      <th>Rent</th>
      <th>Address</th>
      <th>Building Age</th>
      <th>Remarks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @rooms.each do |r| %>
    <tr>
      <td><%= r.room_name %></td>
      <td><%= number_to_currency(r.price) %></td>
      <td><%= r.adress %></td>
      <td><%= r.built_years %>years</td>
      <td><%= r.feature %></td>
      <td><%= link_to 'detail', room_path(r) %></td>
      <td><%= link_to 'edit', edit_room_path(r) %></td>
      <td><%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="btn">
  <%= link_to 'Register Property', new_room_path %>
</div>
