<p id="notice"><%= notice %></p>

<h1>物件一覧</h1>

  <% @rooms.each do |r| %>
    <%= r.room_name %>
    <%= r.price %>
    <%= r.adress %>
    <%= r.built_years %>
    <%= link_to '詳細', room_path(r) %>
    <%= link_to '編集', edit_room_path(r) %>
    <%= link_to '削除', r, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

<%= link_to '物件を登録する', new_room_path %>
