<h1>物件登録</h1>

<%= form_for(@room) do |r| %>
  <%= r.label :room_name %>
  <%= r.text_field :room_name %>

  <%= r.label :price %>
  <%= r.number_field :price %>

  <%= r.label :adress %>
  <%= r.text_field :adress %>

  <%= r.label :built_years %>
  <%= r.number_field :built_years %>

  <%= r.label :feature %>
  <%= r.text_field :feature %>

  <%= r.fields_for :station do |s| %>
    <%= s.label :station_name %>
    <%= s.text_field :station_name %>

    <%= s.label :line_to_station %>
    <%= s.text_field :line_to_station %>

    <%= s.label :minutes_on_foot %>
    <%= s.number_field :minutes_on_foot %>
  <% end %>

  <%= r.submit "登録する" %>
<% end %>

<%= link_to '戻る', rooms_path %>
