<h1>物件登録</h1>

<%= form_for(model: @room, local: true) do |f| %>  
  <%= f.label :room_name %>
  <%= f.text_field :room_name %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :adress %>
  <%= f.text_field :adress %>

  <%= f.label :built_years %>
  <%= f.number_field :built_years %>

  <%= f.label :feature %>
  <%= f.text_field :feature %>

  <!-- <%= f.submit "登録する" %> -->
<% end %>

<%= form_for(model: @station, local: true) do |f| %>  
  <%= f.label :station_name %>
  <%= f.text_field :station_name %>

  <%= f.label :line_to_station %>
  <%= f.text_field :line_to_station %>

  <%= f.label :minutes_on_foot %>
  <%= f.number_field :minutes_on_foot %>

  <!-- <%= f.submit "登録する" %> -->
<% end %>

<%= link_to '戻る', rooms_path %>
