<h1>Property Detail</h1>

<p>Property:<%= @room.room_name %></p>
<p>Rent:<%= number_to_currency(@room.price) %></p>
<p>Address:<%= @room.adress %></p>
<p>Building Age<%= @room.built_years %>年</p>
<p>Remarks<%= @room.feature %></p>

<hr>

<% @room.stations.each_with_index do |x, i| %>
  <h3>Nearest station<%= i+1 %></h3>
  <p>Name of railway line<%= x.line_to_station %></p>
  <p>station name <%= x.station_name %></p>
  <p>How many minutes walk<%= x.minutes_on_foot %>分</p>
<% end %>

<br>
<%= link_to 'Edit propety information', edit_room_path(@room) %> | <%= link_to 'Back', root_path %>
